* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
html {
  padding: 0;
  margin: 0;
}

/* Add Nanum fonts */

@font-face {
  font-family: NanumSquareNeo;
  src: url("./fonts/NanumSquareNeoOTF-aLt.otf") format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: NanumSquareNeo;
  src: url("./fonts/NanumSquareNeoTTF-bRg.eot?#iefix") format('embedded-opentype'),
       url("./fonts/NanumSquareNeoTTF-bRg.woff2") format('woff2'),
       url("./fonts/NanumSquareNeoTTF-bRg.woff") format('woff'),
       url("./fonts/NanumSquareNeoOTF-bRg.otf") format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: NanumSquareNeo;
  src: url("./fonts/NanumSquareNeoTTF-cBd.eot?#iefix") format('embedded-opentype'),
       url("./fonts/NanumSquareNeoTTF-cBd.woff2") format('woff2'),
       url("./fonts/NanumSquareNeoTTF-cBd.woff") format('woff'),
       url("./fonts/NanumSquareNeoOTF-cBd.otf") format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: NanumMyeongjo;
  src: url("./fonts/NanumMyeongjo.otf") format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: NanumMyeongjo;
  src: url("./fonts/NanumMyeongjoBold.otf") format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: NanumMyeongjo;
  src: url("./fonts/NanumMyeongjoExtraBold.otf") format('truetype');
  font-weight: 700;
}


body {
  --notion-font: NanumSquareNeo, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', 'Noto Sans', sans-serif;
  font-family: var(--notion-font);
  overflow-x: hidden;
}

.static-tweet blockquote {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.static-tweet-emoji {
  height: 1.2em !important;
  width: 1.2em !important;
}

.searchInput {
  color: var(--fg-color);
  caret-color: var(--fg-color);
}
